{{- $phone := .Site.Params.phone }}
{{- $email := .Site.Params.email }}
{{- $contactsection := .Site.Params.sections.contact }}
{{- $showPhoneButton := index $contactsection "showPhoneButton" }}
{{- $showTextButton  := index $contactsection "showTextButton" }}
{{- $showEmailButton := index $contactsection "showEmailButton" }}
{{- $showForm        := index $contactsection "showForm" }}
{{- $title    := index $contactsection "title" }}
{{- $subtitle := index $contactsection "subtitle" }}
{{- $buttonText  := index $contactsection "buttonText" }}
<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{- $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{- $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    {{/*  cta is-clear rounded raised btn-outlined signup-button primary-btn secondary-btn accent-btn  */}}
    <div class="button-bar vertical">
      {{- if $showPhoneButton }}
      <a href="tel:{{- $phone }}" class="button cta primary-btn rounded raised">
        <i class="fa fa-solid fa-phone"></i>&nbsp;&nbsp;{{- $phone }}
      </a>
      {{- end }}
      {{- if $showTextButton }}
      <a href="sms:{{- $phone }}" class="button cta primary-btn rounded raised">
        <i class="fa fa-solid fa-comment-sms"></i>&nbsp;&nbsp;{{- $phone }}
      </a>
      {{- end }}
      {{- if $showEmailButton }}
      <a href="mailto:{{- $email }}" class="button cta primary-btn rounded raised">
        <i class="fa fa-solid fa-envelope"></i>&nbsp;&nbsp;{{- $email }}
      </a>
      {{- end }}
    </div>

    {{- if $showForm }}
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Enter your email address">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="Write someting..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">{{- $buttonText }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{- end }}
  </div>
</section>